<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        <form action="../back/cadastro.php" method="post" class="form-group">
            <label>Nome</label>
            <input type="text" name="nomeuser" id="">
            <label>CPF</label>
            <input type="text" name="cpfuser" id="">
            <label>Telefone</label>
            <input type="text" name="telefoneuser" id="">
            <label>E-mail</label>
            <input type="text" name="emailuser" id="">
            <label>Senha</label>
            <input type="password" name="passuser" id="">
            <button type="submit">Cadastrar</button>
        </form>
        <a href="login.html">Já se cadastrou? Entre!</a>
    </div>
</body>
</html>