<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="../back/login.php" method="post" class="form-group">
            <label>E-mail</label>
            <input type="text" name="emailuser" id="">
            <label>Senha</label>
            <input type="password" name="passuser" id="">
            <button type="submit">Logar</button>
        </form>
        <a href="cadastro.html">Ainda não se cadastrou? Cadastre-se!</a>
    </div>
</body>
</html>